@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <button id="test-button">Deneme</button>
</div>
<div>
    <textarea id="output"></textarea>
    <button id="voice-record">record</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<link href="AcbdmVoice/css/main.css" rel="stylesheet"> </link>
<script src="AcbdmVoice/js/assistance.js"></script>
<script src="AcbdmVoice/lottie.min.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/voiceHub").build();
    connection.start().then(function () {
        console.log("connected");
    }).catch(function (err) {
        return console.error(err.toString());
    });
</script>